{% extends 'user_base.html' %}

{% block title %}Login{% endblock %}

{% block content %}



        <h2>Login</h2>

        {% if form.errors %}
            {% for key, value in form.errors.items %}

                {{ value }}
            {% endfor %}

        {% endif %}

        <form method="POST">
            {% csrf_token %}

            <div class="form-group">
                <label>Username
                    {{ form.username }}
                </label>
            </div>
            <div class="form-group">
                <label>Password
                    {{ form.password }}
                </label>
            </div>
            <div class="form-group checkbox-container">

                <label class="checkbox"> Remember me</label> {{ form.remember_me }}
            </div>
            <div class="form-group">
                <button type="submit" value="login">Login</button>
            </div>


        </form>
        <div class="form-group">
            <a class="button-blue" href="{% url 'register' %}">Go to signup</a>
            <a class="button-green" href="{% url 'password_reset' %}"><i>Forgot Password?</i></a>
        </div>





{% endblock %}